<% content_for :content_back do %>
  <div class="tile body">
    <ol class="breadcrumb">
      <li><a><%= link_to '首页', root_path %></a></li>
      <li class="active"><%= @user.name %>的信息</li>
    </ol>
  </div>

  <div class="main">
    <div class="row">
      <div class="col-md-12">
        <section class="tile color transparent-black">
          <!-- tile header -->
          <div class="tile-header">
            <h1><strong>修改<%= @user.name %></strong>信息</h1>
            <div class="controls">
              <a href="#" class="refresh"><i class="fa fa-refresh"></i></a>
              <a href="#" class="remove"><i class="fa fa-times"></i></a>
            </div>
          </div>
          <div class="tile-body">
            <%= form_for @user,url: back_user_path(@user), validate: true, html: {class:"form-horizontal", role: "form"} do |f| %>

              <div class="form-group">
                <label class="col-sm-4 control-label">姓名 :</label>
                <div class="col-sm-4">
                  <%= f.text_field :name, class:"form-control" %>
                </div>
              </div>

              <div class="form-group">
                <label class="col-sm-4 control-label">生日 :</label>
                <div class="col-sm-4">
                  <%= f.text_field :birthday, class:"form-control", id:"datepicker" %>
                </div>
              </div>

              <div class="form-group">
                <label class="col-sm-4 control-label">邮箱 :</label>
                <div class="col-sm-4">
                  <%= f.text_field :email, class:"form-control" %>
                </div>
              </div>

              <div class="form-group">
                <label class="col-sm-4 control-label">电话 :</label>
                <div class="col-sm-4">
                  <%= f.text_field :phone, class:"form-control" %>
                </div>
              </div>

              <div class="form-group">
                <label class="col-sm-4 control-label">地址 :</label>
                <div class="col-sm-4">
                  <%= f.text_field :address, class:"form-control" %>
                </div>
              </div>

              <div class="form-group form-footer">
                <div class="col-sm-offset-4 col-sm-8">
                  <%= f.submit '提交', class: 'btn btn-sm btn-primary' %>&nbsp;&nbsp;
                  <a href=" " class="btn btn-sm btn-default" onclick="javascript:history.go(-1);">返回</a >&nbsp;&nbsp;
                </div>
              </div>

            <% end %>
          </div>
        </section>
      </div>
    </div>
  </div>
<% end %>
