
  <li class="dropdown divided">
    <a class="dropdown-toggle button" data-toggle="dropdown" href="#">
      <i class="fa fa-tasks"></i>
      <span class="label label-transparent-black">2</span>
    </a>
    <ul class="dropdown-menu wide arrow nopadding bordered">
      <li><h1>You have <strong>2</strong> new tasks</h1></li>

      <li>
        <a href="#">
          <div class="task-info">
            <div class="desc">Layout</div>
            <div class="percent">80%</div>
          </div>
          <div class="progress progress-striped progress-thin">
            <div class="progress-bar progress-bar-green" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
              <span class="sr-only">40% Complete (success)</span>
            </div>
          </div>
        </a>
      </li>

      <li>
        <a href="#">
          <div class="task-info">
            <div class="desc">Dropdowns</div>
            <div class="percent">60%</div>
          </div>
          <div class="progress progress-striped progress-thin">
            <div class="progress-bar progress-bar-amethyst" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 60%">
              <span class="sr-only">60% Complete</span>
            </div>
          </div>
        </a>
      </li>
      <li><a href="#">Check all tasks <i class="fa fa-angle-right"></i></a></li>
    </ul>
  </li>

  <li class="dropdown divided">

    <a class="dropdown-toggle button" data-toggle="dropdown" href="#">
      <i class="fa fa-envelope"></i>
      <span class="label label-transparent-black">1</span>
    </a>

    <ul class="dropdown-menu wider arrow nopadding messages">
      <li><h1>You have <strong>1</strong> new message</h1></li>
      <li>
        <a class="cyan" href="#">
          <div class="profile-photo">
            <img src="/assets/images/ici-avatar.jpg" alt />
          </div>
          <div class="message-info">
            <span class="sender">Ing. Imrich Kamarel</span>
            <span class="time">12 mins</span>
            <div class="message-content">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum</div>
          </div>
        </a>
      </li>

      <li>
        <a class="red" href="#">
          <div class="profile-photo">
            <img src="/assets/images/peter-avatar.jpg" alt />
          </div>
          <div class="message-info">
            <span class="sender">Peter Kay</span>
            <span class="time">5 hours</span>
            <div class="message-content">Ut enim ad minim veniam, quis nostrud exercitation</div>
          </div>
        </a>
      </li>


      <li class="topborder"><a href="#">Check all messages <i class="fa fa-angle-right"></i></a></li>
    </ul>

  </li>
  <li class="dropdown divided">

    <a class="dropdown-toggle button" data-toggle="dropdown" href="#">
      <i class="fa fa-bell"></i>
      <span class="label label-transparent-black">3</span>
    </a>

    <ul class="dropdown-menu wide arrow nopadding bordered">
      <li><h1>You have <strong>1</strong> new notifications</h1></li>

      <li>
        <a href="#">
          <span class="label label-green"><i class="fa fa-user"></i></span>
          New user registered.
          <span class="small">18 mins</span>
        </a>
      </li>

      <li><a href="#">Check all notifications <i class="fa fa-angle-right"></i></a></li>
    </ul>
  </li>


  <li class="dropdown divided" >
    <%= link_to "用户", users_path %>
  </li>

  <li class="dropdown divided user" id="current-user">
    <div class="profile-photo">
      <img src="/assets/images/profile-photo.jpg" alt />
    </div>
    <a class="dropdown-toggle options" data-toggle="dropdown" href="#">
      管理 <i class="fa fa-caret-down"></i>
    </a>

    <ul class="dropdown-menu arrow settings">

      <li>

        <h3>Backgrounds:</h3>
        <ul id="color-schemes">
          <li><a href="#" class="bg-1"></a></li>
          <li><a href="#" class="bg-2"></a></li>
          <li><a href="#" class="bg-3"></a></li>
          <li><a href="#" class="bg-4"></a></li>
          <li><a href="#" class="bg-5"></a></li>
          <li><a href="#" class="bg-6"></a></li>
        </ul>

        <div class="form-group videobg-check">
          <label class="col-xs-8 control-label">Video BG</label>
          <div class="col-xs-4 control-label">
            <div class="onoffswitch greensea small">
              <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="videobg-check">
              <label class="onoffswitch-label" for="videobg-check">
                <span class="onoffswitch-inner"></span>
                <span class="onoffswitch-switch"></span>
              </label>
            </div>
          </div>
        </div>

      </li>

      <li class="divider"></li>
      <% if logged_in? %>
        <li>
          <%= link_to "个人首页", current_user, class:"fa fa-user" %>
        </li>

        <li>
          <%= link_to "信息修改", edit_back_user_path(current_user), class:"fa fa-calendar" %>
        </li>

        <li>
          <%= link_to "新建用户", new_user_path, class:"fa fa-envelope" %>
        </li>
        <li class="divider"></li>

        <li>
          <%= link_to '退出', logout_path, method: :delete %>
        </li>
      <% else %>
        <li>
          <a><%= link_to "登录", login_path %></a>
        </li>
      <% end %>


    </ul>
  </li>
  <li>
    <a href="#mmenu"><i class="fa fa-comments"></i></a>
  </li>
